.dropdown-menu{
	margin-left: 45%;
}
.media{
	margin: 0;
}

.media_text{
	margin: 0;
}

.custom_media{
	border: 1px solid #808080;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-circle {
	z-index:
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	border: 1px solid;
	padding: 1px;
		
}

.custom_group{
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 200px;
}